/* Light mode styles */
.light-mode {
    background-color: #f8f9fa; /* light mode background color */
    color: #495057; /* light mode text color */
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: #343a40; /* dark mode background color */
    color: #adb5bd; /* dark mode text color */
  }
  